In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from api_keys import g_key

# Store Part I results into DataFrame

    . Load the csv exported in Part 1 to a DataFrame

In [7]:
weather_data = pd.read_csv("../WeatherPy/output_data/cities.csv")
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Itarema,97,BR,1650735390,96,-2.9248,-39.9167,74.50,8.12
1,Mācherla,81,IN,1650736171,54,16.4833,79.4333,85.51,15.17
2,Esperance,70,AU,1650736006,88,-33.8667,121.9000,57.04,11.03
3,Ushuaia,75,AR,1650735835,66,-54.8000,-68.3000,46.06,9.22
4,Punta Arenas,100,CL,1650735636,87,-53.1500,-70.9167,46.42,9.22
...,...,...,...,...,...,...,...,...,...
530,Nicoya,30,CR,1650736005,44,10.1483,-85.4520,90.90,4.99
531,Uppsala County,75,SE,1650736356,57,60.0000,17.7500,45.84,17.27
532,Darnah,0,LY,1650736356,83,32.7670,22.6367,61.70,16.44
533,Aklavik,0,CA,1650736357,63,68.2191,-135.0107,23.00,9.22
534,Vestmanna,75,FO,1650736113,71,62.1564,-7.1664,45.52,4.61

# Humidity Heatmap

    . Configure gmaps
    . Use the Lat and Lng as locations and Humidity as the weight.
    . Add Heatmap layer to map

In [8]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [9]:
# Store latitude and longitude in locations
locations = weather_data[["Lat", "Lng"]].astype(float)

# Store Humidity in humidity
humidity = weather_data["Humidity"].astype(float)

In [10]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)


heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)


fig.add_layer(heat_layer)


fig

Figure(layout=FigureLayout(height='420px'))

# Create new DataFrame fitting weather criteria

    . Narrow down the cities to fit weather conditions.
    . Drop any rows with null values.

In [11]:
# Narrow down the cities with wind speed less than 10 mph, cloudiness equals to 0 and max temp between 60 and 80
narrowed_city_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)].dropna()

narrowed_city_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
357,Oil City,0,US,1650736166,42,41.4339,-79.7064,75.79,9.22
363,Elizabeth City,0,US,1650736292,45,36.2946,-76.2511,78.03,8.05
371,Marsá Maţrūḩ,0,EG,1650736295,73,31.3525,27.2453,70.00,6.91
461,Karaj,0,IR,1650736330,19,35.8355,51.0103,70.32,0.00
496,Wilmington,0,US,1650736343,62,34.2257,-77.9447,78.71,8.05

# Hotel Map

    . Store into variable named hotel_df.
    . Add a "Hotel Name" column to the DataFrame.
    . Set parameters to search for hotels with 5000 meters.
    . Hit the Google Places API for each city's coordinates.
    . Store the first Hotel result into the DataFrame.
    . Plot markers on top of the heatmap.

In [12]:
# Create a hotel_df
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""
hotel_df

               City Country      Lat      Lng Hotel Name
357        Oil City      US  41.4339 -79.7064
363  Elizabeth City      US  36.2946 -76.2511
371    Marsá Maţrūḩ      EG  31.3525  27.2453
461           Karaj      IR  35.8355  51.0103
496      Wilmington      US  34.2257 -77.9447

In [13]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
   
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("----------------------")

Retrieving Results for Index 357: Oil City.
Closest hotel in Oil City is Days Inn by Wyndham Oil City Conference Center.
----------------------
Retrieving Results for Index 363: Elizabeth City.
Closest hotel in Elizabeth City is Quality Inn Elizabeth City Near University.
----------------------
Retrieving Results for Index 371: Marsá Maţrūḩ.
Closest hotel in Marsá Maţrūḩ is Almanara Hotel Marsa Matrouh.
----------------------
Retrieving Results for Index 461: Karaj.
Closest hotel in Karaj is Amir Kabir Hotel.
----------------------
Retrieving Results for Index 496: Wilmington.
Closest hotel in Wilmington is ARRIVE Wilmington.
----------------------

In [14]:
# Display the hotel dataframe
hotel_df

,City,Country,Lat,Lng,Hotel Name
357,Oil City,US,41.4339,-79.7064,Days Inn by Wyndham Oil City Conference Center
363,Elizabeth City,US,36.2946,-76.2511,Quality Inn Elizabeth City Near University
371,Marsá Maţrūḩ,EG,31.3525,27.2453,Almanara Hotel Marsa Matrouh
461,Karaj,IR,35.8355,51.0103,Amir Kabir Hotel
496,Wilmington,US,34.2257,-77.9447,ARRIVE Wilmington

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))